<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheBloomRoom"
        tools:targetApi="31">
        <activity
            android:name=".views.Product_details"
            android:exported="false" />
        <activity
            android:name=".views.Add_product"
            android:exported="false" />
        <activity
            android:name=".views.Manage_Category"
            android:exported="false" />
        <activity
            android:name=".views.Manage_Product"
            android:exported="false" />
        <activity
            android:name=".views.Admin_dashboard"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.Main_page"
            android:exported="false" />
        <activity
            android:name=".views.register"
            android:exported="false" />
        <activity
            android:name=".views.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>